<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
  <property name="hibernate.connection.password">Mycquillisf9</property>
  <property name="hibernate.connection.url">jdbc:jtds:sqlserver://sql2008vm:1433/jtrac_test_db</property>
  <property name="hibernate.connection.username">prxusr</property>
  <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <mapping class="za.co.praxis.jtrac.domain.Config"/>
  <mapping class="za.co.praxis.jtrac.domain.Users"/>
  <mapping class="za.co.praxis.jtrac.domain.SpaceUserLevel"/>
  <mapping class="za.co.praxis.jtrac.domain.UserSpaceRoles"/>
  <mapping class="za.co.praxis.jtrac.domain.ZReports"/>
  <mapping class="za.co.praxis.jtrac.domain.ItemTags"/>
  <mapping class="za.co.praxis.jtrac.domain.ZSeverities"/>
  <mapping class="za.co.praxis.jtrac.domain.ZLevels"/>
  <mapping class="za.co.praxis.jtrac.domain.ZCategories"/>
  <mapping class="za.co.praxis.jtrac.domain.History"/>
  <mapping class="za.co.praxis.jtrac.domain.ZReasonOutstanding"/>
  <mapping class="za.co.praxis.jtrac.domain.ZEscalationLogs"/>
  <mapping class="za.co.praxis.jtrac.domain.Items"/>
  <mapping class="za.co.praxis.jtrac.domain.Sysdiagrams"/>
  <mapping class="za.co.praxis.jtrac.domain.Spaces"/>
  <mapping class="za.co.praxis.jtrac.domain.Attachments"/>
  <mapping class="za.co.praxis.jtrac.domain.ZServerSettings"/>
  <mapping class="za.co.praxis.jtrac.domain.ItemItems"/>
  <mapping class="za.co.praxis.jtrac.domain.ZSpaceEmail"/>
  <mapping class="za.co.praxis.jtrac.domain.Tags"/>
  <mapping class="za.co.praxis.jtrac.domain.ItemUsers"/>
  <mapping class="za.co.praxis.jtrac.domain.ZSpaceSeverityPeriod"/>
  <mapping class="za.co.praxis.jtrac.domain.Metadata"/>
  <mapping class="za.co.praxis.jtrac.domain.LastHistoryRecordPerItem"/>
  <mapping class="za.co.praxis.jtrac.domain.SpaceSequence"/>
 </session-factory>
</hibernate-configuration>
